default: &default
  adapter: postgresql
  encoding: unicode
  host: {{ app.db_host }}
  username: {{ app.db_user }}
  password: {{ app.db_pass }}
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: {{ app.db_name }}

test:
  <<: *default
  database: {{ app.db_name }}_test

production:
  <<: *default
  database: {{ app.db_name }}
